@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.big-shoulders-bold {
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.lexend-deca-norm {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container1{
    align-items: center;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 300px;
    height: 480px;
    background-color: hsl(31, 77%, 52%);
    line-height: 30px;
}
.container2{
    align-items: center;
    text-align: center;
    width: 300px;
    height: 480px;
    background-color: hsl(184, 100%, 22%);
    line-height: 30px;
}
.container3{
    align-items: center;
    text-align: center;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    width: 300px;
    height: 480px;
    background-color: hsl(179, 100%, 13%);
    line-height: 30px;
}
.Learn1{
    display: flex;
    border: 2px solid;
    border-radius: 30px;
    padding: 15px;
    width: 150px;
    margin-top: 100px;
    margin-left: 70px;
    color :hsl(31, 77%, 52%);
    background-color: #fff;
justify-content: center;

    
}
.Learn2{
    display: flex;
    border: 2px solid;
    border-radius: 30px;
    padding: 15px;
    width: 150px;
    margin-top: 100px;
    margin-left: 70px;
    color :hsl(184, 100%, 22%);
    background-color: #fff;
justify-content: center;
    
}
.Learn3{
    display: flex;
    border: 2px solid;
    border-radius: 30px;
    padding: 15px;
    width: 150px;
    margin-top: 100px;
    margin-left: 70px;
    color :hsl(179, 100%, 13%);
    background-color: #fff;
justify-content: center;
    
}

div.wrapper{
    display:flex;
}

h1{
    margin-left: -145px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: "big shoulders", sans-serif;
    font-weight: 700;
    color: #fff;

}

img{
    margin-left: -150px;
    margin-top: 30px;
}
p{
    width: 250px;
    font-family: "lexend Deca", sans-serif ;
    font-size: 15px;
    font-weight: 400;
    margin-left: 25px;
    color: #fff;
    border: 2px solid;
}
