@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.big-shoulders-bold {
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.lexend-deca-norm {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container1{
    align-items: center;
    text-align: center;
    border: 2px solid;
    width: 300px;
    height: 480px;
    background-color: hsl(31, 77%, 52%);
}
.container2{
    align-items: center;
    text-align: center;
    border: 2px solid;
    width: 300px;
    height: 480px;
    background-color: hsl(184, 100%, 22%);
}
.container3{
    align-items: center;
    text-align: center;
    border: 2px solid;
    width: 300px;
    height: 480px;
    background-color: hsl(179, 100%, 13%);
}
.Learn{
    display: flex;
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    margin-top: 250px;
    margin-left: 50px;
    justify-content: space-between;
}

div.wrapper{
    display:flex;
}
